<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<%- include('common/styles') %>
		<title> <%= title %> </title>
	</head>

	<body>
		<%- include('common/header') %> <%- include('common/sidebar') %> <%- include('common/off-canvas_sidebar') %>
		<main>
			<!-- Contenido principal -->
			<div class="chat-container">
				<div class="title-container container-fluid d-flex p-3">
					<h5>Chat</h5>
				</div>
				<div class="chat-container container-fluid d-flex flex-sm-column p-3">
					<div id="messages">
						<p class="own-message">Hola</p>
						<p class="default-message">asd</p>
					</div>
				</div>
				<div class="input-group mb-3">
					<form id="chat-form" action="" method="post">
						<input id="message-input" type="text" class="form-control" placeholder="Escribe aqui" aria-describedby="basic-addon2" />
						<div class="input-group-append">
							<button class="btn btn-outline-secondary" type="submit">Enviar</button>
						</div>
					</form>
				</div>
			</div>
		</main>
		<%- include('common/footer') %> <%- include('common/scripts.ejs') %>
		<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
		<script type="module" src="/js/chat_client_socket.js"></script>
	</body>
</html>
