<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<%- include('common/styles') %>
		<title> <%= title %> </title>
	</head>

	<body>
		<%- include('common/header') %>
		<div class="row">
			<div class="col-md-3"><%- include('common/sidebar') %></div>
			<div class="col-md-9 chat-col">
				<main>
					<!-- Contenido principal -->
					<div class="col-chat-container">
						<div class="title-container container-fluid d-flex p-3">
							<h5>Chat</h5>
						</div>
						<div class="chat-container container-fluid d-flex flex-sm-column p-3">
							<div id="messages">
							</div>
							<form id="chat-form" action="" method="post">
								<div class="input-group mb-3">
									<input id="message-input" type="text" class="form-control" placeholder="Escribe aqui" aria-describedby="button-addon2" autocomplete="off"/>
									<button class="btn btn-outline-secondary" type="submit">Enviar</button>
								</div>
							</form>
						</div>
					</div>
				</main>
			</div>
		</div>
		<%- include('common/footer') %> <%- include('common/scripts.ejs') %>
		<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
		<script type="module" src="/js/chat_client_socket.js"></script>
	</body>
</html>
